nav{

height: 40px;
width: 100%;
background-color: rgb(48, 43, 43);

}

a{

    color: white;
    text-decoration: none;
}

article{

    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

img{

height: 75px;

}

.hover:hover{

    transform: scale(1.1);
    
}

.baner{
height: 265px;
width: 100%;

}