div{

height: 350px;
width: 200px;
margin-top: 90px;
margin-left: -3px;
animation: shaktiman 4s ease-in-out 3s infinite;
 animation: rotateImage 0.01s linear infinite;

}
@keyframes rotateImage{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }

 
}