a:visited{

    color: yellow;
}

a:link{

color: aqua;

}

a:active{

background-color: black;

}

a:hover{
    
    background-color: green;
}

p:first-child{

    background-color: blue;
}


input:focus{

    background-color: lightcyan;
}